**/bin/
**/obj/
**/.vs/
**/.vscode/
**/TestResults/
**/packages/
**/node_modules/
**/.idea/
**/.tye/
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.tmp
*.cache
*.tlog
.env
*.coverage
*.publishsettings
*.pubxml